html {
  padding: 0.5em;
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #eee;
}

  li {
    list-style-type: none;
  }

    .focused * {
      opacity: 1.0;
    }

  h1, h2, p {
    opacity: 0.4;
  }

  .describes {
    padding-left: 0;
  }

    .describes h1 {
      font-size: 1.1em;
      color: #0A0;
      line-height: 1.8em;
      margin: 0pt 0pt 0.6em;
    }
    
    .describe.failed > h1 {
      color: #C00;
    }

      .describes h1:hover {
        cursor: pointer;
        text-decoration: underline;
      }

    .describes .describe {
      margin-left: 0.6em;
      padding-left: 0.6em;
      border-left: solid 2px #0A0;
      padding: 0 0.6em;
      margin: 1.2em 0.6em;
    }
    
    .describe.failed {
      border-color: #C00;
    }

      .describes .describe .its {}

        .describes .describe .its .it {
          list-style-type: lower-roman;
          list-style-position: outside;
        }

          .describes .describe .its .it h2 {
            font-weight: normal;
            font-style: italic;
            padding-left: 0.5em;
            font-size: 1.0em;
            color: black;
            line-height: 1.2em;
            border-left: solid 1.2em #000;
            margin: 0 0 0.5em;
          }
          
          .describes .describe .its .it.enqueued h2 {
            border-left-color: #C60;
          }

          .describes .describe .its .it.passed h2 {
            border-left-color: #0A0;
          }

          .describes .describe .its .it.failed h2 {
            border-left-color: #C00;
          }

          .describes .describe .its .it.failed p {
            margin-left: 1em;
            color: #C00;
          }
          
          .describes .describe .its .it h2:hover {
            cursor: pointer;
            text-decoration: underline;
          }